.akoma-ntoso {
  .akn-header {
    // use padding not margin so that it is included in clientHeight
    padding-top: $akn-section-spacing;
    padding-bottom: $akn-section-spacing * 2;
  }

  .extracted-header-text {
    background-color: #fafad2;
    text-align: center;
    padding: 0.1em;
    border-radius: 3px;
  }

  .tausi-header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $akn-section-spacing;
    font-weight: bold;
    text-align: center;

    .doc-title, .doc-date, .neutral-citation, .judges, .docket-number {
      margin-bottom: $akn-para-spacing;
    }

    .legacy-citation {
      margin-bottom: $akn-para-spacing;
      font-weight: normal;
      font-style: italic;
    }

    .republic-head {
      margin-top: $akn-section-spacing;
      margin-bottom: $akn-para-spacing;
      text-transform: uppercase;
    }

    .doc-authority, .parties-separator {
      margin-top: $akn-section-spacing;
      margin-bottom: $akn-para-spacing;
    }

    .party-listing {
      margin-bottom: $akn-para-spacing;
      display: flex;
      align-content: flex-end;

      .party-name {
        text-align: left;
        max-width: 60%;
      }

      .dotted {
        flex-grow: 1;
        border-bottom: dotted 1px;
        margin: 6px;
      }
    }

    .header-note {
      margin-top: $akn-section-spacing;
      margin-bottom: $akn-para-spacing;
      font-style: italic;
    }
  }

  .summary {
    text-align: justify;

    .summary-title {
      margin-bottom: $akn-para-spacing;
    }

    .author {
      margin-bottom: $akn-para-spacing;
    }

    .catchwords, .outcome {
      font-style: italic;
    }

    .akn-h4 {
      font-weight: bold;
      font-style: normal;
    }
  }

  .introduction .decision-action {
    text-align: center;
    margin-top: $akn-section-spacing * 1.5;
    text-transform: uppercase;
    font-weight: bold;
  }

}
